.about_us__grouped {
 background-color: white;
 display: flex;
}
.about_us__text {
    color: rgb(110, 110, 110);
    font-weight: 400;  
}
.about_us__button {
    width: 115.625px;
    height: 50px;
    background-color: rgb(36, 184, 241);
}
.about_us__link {
    text-align: center;
    font-size: 12px;
    color:rgb(255, 255, 255);
    text-decoration-line: none;
    text-transform: uppercase;
    cursor: pointer; 
    vertical-align:middle;
    left: 0px;
    line-height: 12px;
}