.about_us__grouped {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 800px;
}
.about_us__title {
    font-family: 'Dosis', sans-serif;
    color: rgb(20, 20, 20);
    font-size: 34px;

}
.about_us__text {
    color: rgb(110, 110, 110);
    font-weight: 34px;
    font-family: 'Roboto', sans-serif;
    font-size: 17;
}

.about_us__button {
    padding-top: 16px;
    padding-bottom: 20px;
    padding-right: 10px;
    width: 115.625px;
    height: 50px;
    background-color: rgb(36, 184, 241);
}

.about_us__link {

    text-align: center;
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;

    /*vertical-align: middle;*/
    /*left: 0px;*/
    /*line-height: 12px;*/
}

@media (min-width: 768px) {
    .about_us__grouped {
        flex-direction: row;
    }
}

.about_us__container {
    max-width: 992px;
}
.about_us__zebra_image {
    min-width: 325px;
}
.about_us__dots {
    color: #24b8f1;
    font-size: 30px;
    font-family: 'Roboto', cursive;
}