.about_us__grouped {
    margin: 0 auto;
    padding-top: 50px;
    background-color: var(--background-color-about_us-field);
    display: flex;
    flex-direction: column;
}
.about_us__title {
    font-family: 'Dosis', sans-serif;
    color: var(--text-color-about_us-title);
    font-size: 34px;
}
.about_us__text {
    color: var( --text-color-about_us-description);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
.about_us__button {
    padding-top: 16px;
    padding-bottom: 20px;
    padding-right: 10px;
    width: 115.625px;
    height: 50px;
    background-color: var(--background-color-about_us-button);
}
.about_us__link {
    text-align: center;
    font-size: 12px;
    color: var(--button-link-text-color);
    text-decoration-line: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
@media (min-width: 768px) {
    .about_us__grouped {
        flex-direction: row;
    }
    .about_us__container {
        flex-basis: 100%;
    }
    .about_us__zebra_image {
        flex-basis: 100%;
    }   
}
.about_us__container {
    flex: 1;
    max-width: 992px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.about_us__zebra_image {
    flex: 2;
}
.about_us__dots {
    margin-top: -40px;
    font-size: 3em;
    letter-spacing: -0.07em;
    color: var(--brand-color);
    font-family: 'Robotobold', sans-serif;
    display: flex;
}