.additional {
  font-family: Dosis, sans-serif;
}

.additional {
  background-image: url(../img/backgroundAdditional.png);
  /* height: 634.734px; */

  object-fit: cover;
  min-height: 740px;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 150px;
}

.additional__header__main {
  padding-top: 150px;
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.additional__header__main_title {
  font-size: 48px;
  font-weight: 700;
}

.card_my {
  padding-left: 60px;
  border: none;
}


.additional img {
  height: 208px;
  width: 323px;

}

.title {
  font-weight: 600;
}

.additional p {
  font-family: Roboto;
  font-size: 20px;
  padding-top: 20px;
  line-height: 30px;
  width: 323px;
}

.additional h2 {
  padding-top: 30px;
}

.bottom {
  margin-top: -60px;
  font-size: 1.5em;
  letter-spacing: -0.07em;
  color: var(--brand-color);
  font-family: 'Robotobold', sans-serif;
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .card_my img {
    display: flex;
    height: 300px;
    width: 100%;
    padding-left: 5px;
    margin-left: -30px;

  }

  .card_my p,
  .card_my h2 {
    display: flex;
    width: 100%;
    padding-left: 5px;
    margin-left: -30px;
  }
}



