.additional {
  font-family: 'Dosis', sans-serif;
}

.additional {
  background-image: url(../img/backgroundAdditional.png);
  object-fit: cover;
  min-height: 740px;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 150px;
}

.additional__header__main {
  padding-top: 150px;
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.additional__header__main_title {
  font-size: 48px;
  font-weight: 700;
}

.card-body h2 {
  font-size: 25px;
  text-align: left;
}

.card_my {
  border: none;
}

.additional img {
  height: 208px;
}

.title {
  font-weight: 600;
}

.additional p {
  font-family: 'Roboto';
  font-size: 18px;
  opacity: 0.7;
  line-height: 30px;
  color: var(--dark-fon-color);
}

.additional h2 {
  color: var(--dark-fon-color);
}

.bottom {
  margin-top: -40px;
  font-size: 1em;
  letter-spacing: -0.07em;
  color: var(--brand-color);
  font-family: 'Robotobold', sans-serif;
  display: flex;
  justify-content: center;
}

.additional_clock {
  max-width: 100px;
  height: 50px;
  padding-top: 10px;
  color: black;
  min-height: 2em;
  margin-left: auto;
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: -100px;
  border: 1px solid var(--title-color-on-dark);
  background: var(--aditional-color-clock);
  text-align: center;
}


@media (max-width: 768px) {
  .card_my img {
    display: flex;
    height: 300px;
    width: 100%;
    margin-left: -10px;
  }

  .card_my p,
  .card_my h2 {
    display: flex;
    width: 50%;
    padding-left: 5px;
    margin-left: -10px;
  }
}

@media (max-width: 1024px) {
  .card_my img {
    display: flex;
    height: 300px;
    width: 100%;
    padding-left: 5px;
    margin-left: -10px;
  }

  .card_my p,
  .card_my h2 {
    display: flex;
    width: 100%;
    padding-left: 5px;
    margin-left: -10px;
  }
}

@media (max-width: 1200px) {
  .card_my img {
    display: flex;
    height: 300px;
    width: 100%;
    padding-left: 15px;
  }

  .card_my p,
  .card_my h2 {
    display: flex;
    width: 100%;
    padding-left: 15px;
  }
}