.container {
    max-width: 1200px;
    margin: auto;
}

 .team__list {
    padding-top: 10px;
    padding-bottom: 115px;
    display: block;
    position: relative;
}


.team__list-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.team__title {
    text-transform: none;
    text-align: center;
}

/* не виходить так: не прикріпляється унизу team__title
.team__title::after {
    left: 50%;
    right: auto;
    content: "";
    position: absolute;
    width: 36px;
    height: 5px;
    background: linear-gradient(90deg, #24b8f1 0%, #24b8f1 14.28%, rgba(255, 255, 255, 0) 14.28%, rgba(255, 255, 255, 0) 28.56%, 
    #24b8f1 28.56%, #24b8f1 42.84%, rgba(255, 255, 255, 0) 42.84%, rgba(255, 255, 255, 0) 57.12%, #24b8f1 57.12%, 
    #24b8f1 71.8%, rgba(255, 255, 255, 0) 71.8%, rgba(255, 255, 255, 0) 85.68%, #24b8f1 85.68%, #24b8f1 100%);
    bottom: 0;
} */

/* .team__dots {
    text-align: center;
    padding-bottom: 30px;
}

.team__dot {
    height: 5px;
    width: 5px;
    background-color: var(--brand-color);
    display: inline-block;
}

.team__image {
    width: 300px;
}

.carousel__block {
    margin-top: 50px;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1200px;
}

.team__carousel {
    display: flex;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
    gap: 20px;
} */

.carousel__member-name {
    font-family: 'Dosis', sans-serif;
    font-size: 23px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.carousel__member_job {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.carousel__social-logos {
    justify-content: center;
    text-align: center;
}