.container__team {
  max-width: 1200px;
  margin: auto;
}

.team__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.team__dots {
  font-size: 3em;
  letter-spacing: -0.07em;
  color: var(--brand-color);
  font-family: 'Robotobold', sans-serif;
  line-height: 0;
}

.button_team_carousel img {
  width: 20px;
  height: 20px;
}

.team__list {
  background-color: var(--carousel-team-bg-c);
  padding-top: 10px;
  padding-bottom: 115px;
}

.team__foto {
  min-width: 250px;
  margin: auto;
  object-fit: cover;
}

 .team__carousel-items {
  padding: 50px 32px 50px 32px;
  display: flex;
  flex-direction: row;
  
}
/*
.team__carousel-item {
  padding: 0 10px 0 10px;
} */








/* @media (max-width: 990px) {
  .team__foto {
    min-width: 450px;
    margin: auto;
    object-fit: cover;
  }
}

@media (max-width: 760px) {
  .team__foto {
    min-width: 600px;
    margin: auto;
    object-fit: cover;
  }
} */

/* .team__dots {
    text-align: center;
    padding-bottom: 30px;
}

.team__dot {
    height: 5px;
    width: 5px;
    background-color: var(--brand-color);
    display: inline-block;
}

.carousel__block {
    margin-top: 50px;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1200px;
}

.team__carousel {
    display: flex;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
    gap: 20px;
} */

/* .carousel__member-name {
  font-family: "Dosis", sans-serif;
  font-size: 23px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.carousel__member_job {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.carousel__social-logos {
  justify-content: center;
  text-align: center;
} */