.header {
  background-image: url(../img/header_backgraund.png);
  vertical-align: baseline;
}

.header__top {
  margin: 0 auto;
  padding: 0;
  }

.header__big-bottom {
  padding-top: 90px;
  padding-bottom: 130px;
  font-weight: 400;
line-height: 16.52px;
overflow-wrap: break-word;
width: 382px;
z-index: 0;

}

.header__inform {
  padding: 0, 24px, 0, 24px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}
.header_topper {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
}

.header__logo-leopard {
margin: 0;
padding: 0;
border: 0;
width: 113px;
justify-content: inherit;
}

.header__inform p,
.header__email {
    padding-top: 2%;
    font-family: 'Dosis', sans-serif;
    font-size: 19px;
}

.header p {
  color: var(--title-color-light);
  }

.header a {
  color: var(--title-color-light);
}

.header_nav a {
  justify-content:space-between;
  align-items: center;
  max-width: 100%;
  font-size: 16px;
  font-weight: bold;
  }

.header__banner {
    padding: 0, 24px, 0, 24px;
}

.header__title {
    color: var(--title-color-light);
    font-size: 62px;
    letter-spacing: -1.24px;
    line-height: 68.2px;
    text-align: center;
    font-family: 'Leckerli One', cursive;
}

.header__text {
  padding-top: 15px;
  text-align: center;
  font-size: 20px;
}
.header_nav {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.navbar {
  overflow: hidden;

  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: var(--dark-background-color);
  padding: 22px 30px;
  text-decoration: none;
  display: block;
  text-align: left;
  display: flex;
  justify-content: center
}

.dropdown-content a:hover {
  color: gold;
}

.dropdown:hover .dropdown-content {
  display: block;
}
