.container__team {
  /* max-width: 1200px; */
  width: 100%;
  margin: auto;
  min-height: 700px;
}

.team__section {
  background-color: var(--carousel-team-bg-c);
  padding: 10px 0 100px 0;
}

.team__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.team__dots {
  font-size: 3em;
  letter-spacing: -0.07em;
  color: var(--brand-color);
  font-family: 'Robotobold', sans-serif;
  line-height: 0;
}

/* buttons */
.button_team_carousel img {
  width: 30px;
  height: 30px;
}

.button_team_carousel {
  border: none;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  display: inline-block;
  position: relative;
  top: -50px;
}

.team__foto {
  min-height: 350px;
  /* min-width: 250px; */
  width: 370px;
  margin: auto;
  object-fit: cover;
}

.team__carousel-items {
  padding: 50px 32px 50px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team__carousel-item {
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team_item img {
  padding: 5px;
}

.carousel__member-name {
  font-family: "Dosis", sans-serif;
  font-size: 23px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.carousel__member_job {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.carousel__social-logos {
  justify-content: center;
  text-align: center;
}

/* .team__footer-wave {
  position: relative;
  bottom: -120px;
} */

@media (max-width: 768px) {
  .team__foto {
    min-height: 570px;
    min-width: 120%;
    margin: auto;
    object-fit: cover;
  }
    
  .team__carousel-item {
    height: 570px;
  }
}

@media (max-width: 1200px) {
  .button_team_carousel {
    background-color: rgb(87, 82, 82);
    border-radius: 50%;
  }
}