.reasons {
    /* background-image: url(../img/reasons-bg-optimized-1200.jpg); */
    background-image: linear-gradient(var(--dark-gradient-background-color), var(--dark-gradient-background-color)), url(../img/reasons-bg-optimized-1200.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 740px;
}

.reasons__header {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reasons__blocktitle {
    color: var(--title-color-light);
    text-align: center;
    /* font-size: 34px; */
}
.reasons__dots {
    font-size: 3em;
    letter-spacing: -0.07em;
    color: var(--title-color-light);
    font-family: 'Robotobold', sans-serif;
    text-align: center;
}

.reasons__list {
    /* margin-top: 45px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.reason__item {
    min-width: 100px;
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.reason__content {
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 31px;
    padding-bottom: 31px;
}

.reason__icon {
    width: 50px;
    margin: auto;
}

.reason__title {
    color: var(--title-color-light);
    margin-top: 20px;
    font-size: 22px;
}

.reason__description {
    text-align: center;
    line-height: 1.55;
    color: var(--text-color-on-dark);
    margin-top: 20px;
}

@media (min-width: 480px) {
    .reasons__blocktitle {
        font-size: 34px;
    }
    /* .reason__item{
        flex-basis: 45%;
    } */
}

@media (min-width: 767px) {
    .reasons__blocktitle {
        font-size: 41px;
    }

    .reasons_title {
        font-size: 23px;
    }
}

@media (min-width: 991px) {
    .reasons {
        background-image: linear-gradient(var(--dark-gradient-background-color), var(--dark-gradient-background-color)), url(../img/reasons-bg-optimized-1920.jpg);        
    }
    .reasons__blocktitle {
        font-size: 48px;
    }
    .reason__title {
        font-size: 25px;
    }
    .reason__item {
        max-width: 380px;
    }
    .reason__icon {
        width: 72px;
    }
}

.reasons__footer {
    text-align: center;
  }

.reasons__footer-text  {
    color: var(--title-color-light);
    font-size: 40px;
}
.reasons__countdown-title {
    color: var(--title-color-light);
    font-weight: 100;
    font-size: 48px;
    margin: 40px 0px 20px;
}
   
.reasons__countdown {
    color: var(--title-color-light);
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}
   
.reasons__countdown-number {
    padding: 10px;
    border-radius: 3px;
    background: var(--dark-fon-color);
    display: inline-block;
}
   
.reasons__countdown-time {
    padding: 15px;
    border-radius: 3px;
    background: var(--dark-fon-color);
    display: inline-block;
}
   
.reasons__countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
}