.reviews{
    background-color: var(--dark-background-color);
    padding-top: 90px;
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 250px 1fr auto;
    grid-template-areas:
      "header"
      "image"
      "content"
      "footer";
}

.reviews__header{
    grid-area: header;
}

.reviews__image-slide{
    grid-area: image;
    z-index: 2;    
}

/*.reviews__articles {
    background-color: var(--light-dark-bacground-color); 
    padding-bottom: 30px;  
}*/   

.reviews__title {
    color: var(--title-color-on-dark);
    text-align: center;
    line-height: 40.12px;
}

.reviews__customer-text {
    padding-bottom: 30px;  
}

.reviews__slides {
    position: relative;
    min-height: 440px;
    grid-area: content;
    background-color: var(--light-dark-bacground-color);
}

.reviews__slide{
    position: absolute;
    animation: .6s cubic-bezier(0.645, 0.045, 0.355, 1) 0s left;
    animation-fill-mode: forwards;
    width: 100%;
}

.reviews-text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: var(--title-color-light);
    line-height: 26.52px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 30px;
}

.reviews__name {
    font-family: 'Dosis', sans-serif;
    font-size: 22px;
    color: var(--title-color-on-dark);
    font-weight: bold;
    text-align: center;
    line-height: 28.82px;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.reviews__image {
    object-fit: cover;
    height: 100%;
}

.click-dots {
   /*position: absolute;*/
    display: flex;
    justify-content: center;
    width: 100%;
    grid-area: footer;
    background-color: var(--light-dark-bacground-color);
} 

.click-dot {
    width: 20px;
    height: 20px;
    background: var(--text-color-on-dark);
    border-radius: 50%;
    margin: 0 9px;
    cursor: pointer;
}

.active-dot {
    background: var(--active-dot-color);
    cursor: default;
}

@keyframes leftNext {
    from {left: 100%;}
    to {left: 0;}
}

@keyframes leftCurr {
    from {left: 0;}
    to {left: -100%;}
}

@keyframes rightNext {
    from {left: -100%;}
    to {left: 0;}
}

@keyframes rightCurr {
    from {left: 0;}
    to {left: 100%;}
}

@media(min-width: 300px) {
    .reviews__slides {
        min-height: 400px;
    }
}

@media(min-width: 332px) {
    .reviews__slides {
        min-height: 375px;
    }
}

@media(min-width: 374px) {
    .reviews__slides {
        min-height: 330px;
    }
}

@media(min-width: 435px) {
    .reviews__slides {
        min-height: 320px;
    }
}

@media(min-width: 530px) {
    .reviews__slides {
        min-height: 292px;
    }
}

@media(min-width: 768px) {
    .reviews{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
          "image header"
          "image content"
          "image footer";
      }

      .reviews__header{
        background-color: var(--light-dark-bacground-color); 
    }  
}