.header__tanzania{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(../img/tanzania_header_background.jpg);
    background-size: cover;
}

.tanzania-tour-description{
    text-align: center;
    padding: 0px 24px 0px 24px;
}

.tanzania-contacts-logo img{
    max-width: 113px;
    max-height: 75px;
}

.header__tanzania-contacts{
    padding: 30px 24px 30px 24px;
}

.header__tanzania_image_wrapper img{
    border: 10px solid;
    border-color: var(--text-color);
    width: 95%;
    height: auto;
    margin: 80px 2.5% 45px 2.5%;

}

.tour-description-header{
    color: var(--header-text-color);
    font-size: 1.9em;
    font-family: var(--header-font), sans-serif;
    line-height: 1.2em;
}

.tanzania-contacts-name,
.tanzania-contacts-email{
    visibility: hidden;
    width: 0;
    height: 0;
    display: flex;
}

@media (min-widht: 500px){
    .header__tanzania_image_wrapper img{
       max-width: 1150px;
       margin: 80px auto 45px auto;
    }
}