.tour-cost-includes-excludes{
    background-image: url(/img/cost_bg_tanzania.jpg);
    padding: 70px 60px 70px 60px;
}

.tour-cost-includes{
    line-height: 2.5em;
    margin-top: 50px;
}

.tour-cost-excludes{
    line-height: 2.5em;
    margin-top: 50px;
}

.tour-cost-includes svg{
    height: 50px;
    width: 50px;
}

.tour-cost-excludes svg{
    height: 50px;
    width: 50px;
}

.tour-cost-includes-list-item{
    list-style: url('/img/tanzania/check-mark-svgrepo-com.svg');
}


.tour-cost-excludes-list-item{
    list-style: url('/img/tanzania/ban-svgrepo-com.svg');
}

.tour-cost-includes-header,
.tour-cost-excludes-header{
    color: var(--header-text-color);
    font-size: 1.2em;
    font-weight: 600;

}

.tour-cost-includes-list{
    padding: 15px;
}


.tour-cost-excludes-list{
    padding: 15px;
}

@media (min-width: 770px) {
    .tour-cost-includes-excludes{
        display: flex;
    }

    .tour-cost-includes svg{
        height: 70px;
        width: 70px;
    }
    
    .tour-cost-excludes svg{
        height: 70px;
        width: 70px;
    }
}

