*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --header-text-color: #f1c324;
    --text-color: #fff;
    --header-font: 'Dosis';
    --bg-color: black;
    --contact-form-color: rgba(255, 255, 255, 0.13);
    font-size: 1em;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    line-height: 1.7em;
}

.container{
    max-width: 1200px;
    margin: auto;
}

img {
    display: block;
    width: 100%;
}

.dot{
    font-size: 3em;
    letter-spacing: -0.07em;
}

body{
    overflow: visible;
}